@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

section {
  width: 40rem;
}

.bored-game-container {
  width: 100vw;
  height: 50vh;
}

.cube-game {
  width: 40rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.block-p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1rem;
}

.cube-break {
  height: 5px;
}

.bored-game-input {
  width: 2.5rem;
}

.animated-cube {
  animation: rotating 3s cubic-bezier(0.4, 0.34, 0.98, 1.02) infinite;
}

.cube-char {
  font-size: 4rem;
}

@media screen and (max-width: 700px) {
  .cube-game {
    width: 20rem;
  }
}
