.roll-main,
.game-container,
.main-roll-display {
  display: flex;
  justify-content: space-around;
}

.player-roll-display,
.main-roll-display {
  width: 25rem;
}

.roll-main {
  width: 100%;
}

.game-container {
  width: 80rem;
}

.main-roll-display {
  flex-direction: column;
  height: 60vh;
  border: 2px black solid;
  box-shadow: 0 10px 10px 0 black;
}

.main-roll-display-top {
  display: flex;
  flex-wrap: wrap;
  width: 25rem;
  height: 30vh;
}

.main-roll-display-top div {
  width: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.player-roll-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  height: 60vh;
  box-shadow: 0 10px 10px 0 black;
}

.player-name {
  font-size: 3rem;
}

.roll-amount-header {
  width: 100%;
  text-align: center;
}
