* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #dddd;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 8rem;
}

.logo path {
  width: 60px;
  height: 60px;
}

nav {
  position: absolute;
  right: 5rem;
}

.title {
  width: 100%;
  text-align: center;
}

h1 {
  letter-spacing: 0.6rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li:nth-child(odd) {
  color: red;
}
